
Data/Clean/carchive_M6.csv
Data/Clean/carchive_V1.csv
Data/Clean/cnrt_M6.csv
Data/Clean/cnrt_V1.csv
Data/Raw/archive_M6.csv
Data/Raw/archive_V1.csv
Data/Raw/hail.csv
Data/Raw/lightning.csv
Data/Raw/nrt_M6.csv
Data/Raw/nrt_V1.csv
Data/Raw/rain.csv
Data/Raw/wind.csv
debug.log
.vscode/launch.json
.vscode/settings.json
Notebooks/.ipynb_checkpoints/data_cleaning-Copy2-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Function_Definitions-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Function_Definitions-checkpoint.py
Notebooks/.ipynb_checkpoints/rain_wind_lightning_cleaning-checkpoint.ipynb
Notebooks/__pycache__/Function_Definitions.cpython-36.pyc
Notebooks/__pycache__/helferlein.cpython-36.pyc
Notebooks/__pycache__/Function_Definitions.cpython-37.pyc
Notebooks/__pycache__/Function_Definitions.cpython-37.pyc
Notebooks/__pycache__/Function_Definitions.cpython-37.pyc
Notebooks/__pycache__/Function_Definitions.cpython-37.pyc
Notebooks/__pycache__/Function_Definitions.cpython-37.pyc
